<div style="text-align: center; font-size: 23px; font-weight: bold; margin: 20px;">
  <span><a href="#A">A</a></span>
  <span><a href="#B">B</a></span>
  <span><a href="#C">C</a></span>
  <span><a href="#D">D</a></span>
  <span><a href="#E">E</a></span>
  <span><a href="#F">F</a></span>
  <span><a href="#G">G</a></span>
  <span><a href="#H">H</a></span>
  <span><a href="#I">I</a></span>
  <span><a href="#J">J</a></span>
  <span><a href="#K">K</a></span>
  <span><a href="#L">L</a></span>
  <span><a href="#M">M</a></span>
  <span><a href="#N">N</a></span>
  <span><a href="#O">O</a></span>
  <span><a href="#P">P</a></span>
  <span><a href="#Q">Q</a></span>
  <span><a href="#R">R</a></span>
  <span><a href="#S">S</a></span>
  <span><a href="#T">T</a></span>
  <span><a href="#U">U</a></span>
  <span><a href="#V">V</a></span>
  <span><a href="#W">W</a></span>
  <span><a href="#X">X</a></span>
  <span><a href="#Y">Y</a></span>
  <span><a href="#Z">Z</a></span>
</div>

<div class="wrapper">

  <div id="A" class="col">
      <ul style="list-style: none;">
        <li><h3>A</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "A" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>
  
  <div id="B" class="col">
      <ul style="list-style: none;">
        <li><h3>B</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "B" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>
  
  <div id="C" class="col">
      <ul style="list-style: none;">
        <li><h3>C</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "C" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>
  
</div>

<div class="wrapper">
  
  <div id="D" class="col">
      <ul style="list-style: none;">
        <li><h3>D</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "D" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>
  
  <div id="E" class="col">
      <ul style="list-style: none;">
        <li><h3>E</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "E" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>
  
  <divid="F" class="col">
      <ul style="list-style: none;">
        <li><h3>F</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "F" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>

</div>

<div class="wrapper">
  
  <div id="G" class="col">
      <ul style="list-style: none;">
        <li><h3>G</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "G" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>
  
  <div id="H" class="col">
      <ul style="list-style: none;">
        <li><h3>H</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "H" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>
  
  <div id="I" class="col">
      <ul style="list-style: none;">
        <li><h3>I</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "I" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>

</div>

<div id="J" class="wrapper">
  
  <div class="col">
      <ul style="list-style: none;">
        <li><h3>J</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "J" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>
  
  <div id="K" class="col">
      <ul style="list-style: none;">
        <li><h3>K</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "K" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>
  
  <div id="L" class="col">
      <ul style="list-style: none;">
        <li><h3>L</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "L" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>

</div>

<div class="wrapper">
  
  <div id="M" class="col">
      <ul style="list-style: none;">
        <li><h3>M</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "M" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>
  
  <div id="N" class="col">
      <ul style="list-style: none;">
        <li><h3>N</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "N" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>
  
  <div id="O" class="col">
      <ul style="list-style: none;">
        <li><h3>O</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "O" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>

</div>

<div class="wrapper">
  
  <div id="P" class="col">
      <ul style="list-style: none;">
        <li><h3>P</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "P" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>
  
  <div id="Q" class="col">
      <ul style="list-style: none;">
        <li><h3>Q</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "Q" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>
  
  <div id="R" class="col">
      <ul style="list-style: none;">
        <li><h3>R</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "R" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>

</div>

<div class="wrapper">
  
  <div id="S" class="col">
      <ul style="list-style: none;">
        <li><h3>S</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "S" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>
  
  <div id="T" class="col">
      <ul style="list-style: none;">
        <li><h3>T</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "T" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>
  
  <div id="U" class="col">
      <ul style="list-style: none;">
        <li><h3>U</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "U" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>

</div>

<div class="wrapper">
  
  <div id="V" class="col">
      <ul style="list-style: none;">
        <li><h3>V</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "V" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>
  
  <div id="W" class="col">
      <ul style="list-style: none;">
        <li><h3>W</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "W" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>
  
  <div id="X" class="col">
      <ul style="list-style: none;">
        <li><h3>X</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "X" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>

</div>

<div class="wrapper">
  
  <div id="Y" class="col">
      <ul style="list-style: none;">
        <li><h3>Y</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "Y" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>
  
  <div id="Z" class="col">
      <ul style="list-style: none;">
        <li><h3>Z</h3></li>
      {% for vendor in shop.vendors %}
        {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
          {% if vendor_first_letter == "Z" %}
              <li class="vendor-list-item">
                <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
      </ul>
  </div>

</div>