<div>
    <ul style="list-style: none;">
      <li><h3>A</h3></li>
    {% for vendor in shop.vendors %}
      {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
        {% if vendor_first_letter == "A" %}
            <li class="vendor-list-item">
              <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>

<div>
    <ul style="list-style: none;">
      <li><h3>B</h3></li>
    {% for vendor in shop.vendors %}
      {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
        {% if vendor_first_letter == "B" %}
            <li class="vendor-list-item">
              <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>

<div>
    <ul style="list-style: none;">
      <li><h3>C</h3></li>
    {% for vendor in shop.vendors %}
      {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
        {% if vendor_first_letter == "C" %}
            <li class="vendor-list-item">
              <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>

<div>
    <ul style="list-style: none;">
      <li><h3>D</h3></li>
    {% for vendor in shop.vendors %}
      {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
        {% if vendor_first_letter == "D" %}
            <li class="vendor-list-item">
              <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>

<div>
    <ul style="list-style: none;">
      <li><h3>E</h3></li>
    {% for vendor in shop.vendors %}
      {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
        {% if vendor_first_letter == "E" %}
            <li class="vendor-list-item">
              <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>

<div>
    <ul style="list-style: none;">
      <li><h3>F</h3></li>
    {% for vendor in shop.vendors %}
      {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
        {% if vendor_first_letter == "F" %}
            <li class="vendor-list-item">
              <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>

<div>
    <ul style="list-style: none;">
      <li><h3>G</h3></li>
    {% for vendor in shop.vendors %}
      {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
        {% if vendor_first_letter == "G" %}
            <li class="vendor-list-item">
              <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>

<div>
    <ul style="list-style: none;">
      <li><h3>H</h3></li>
    {% for vendor in shop.vendors %}
      {% assign vendor_first_letter = vendor | strip | upcase | slice : 0 %}
        {% if vendor_first_letter == "H" %}
            <li class="vendor-list-item">
              <a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>